.divFondo {
    background: hsla(20, 89%, 89%, 1);
    background: linear-gradient(360deg, hsla(20, 89%, 89%, 1) 0%, hsla(324, 57%, 77%, 1) 50%, hsla(278, 54%, 81%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(20, 89%, 89%, 1) 0%, hsla(324, 57%, 77%, 1) 50%, hsla(278, 54%, 81%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(20, 89%, 89%, 1) 0%, hsla(324, 57%, 77%, 1) 50%, hsla(278, 54%, 81%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FCDBCA", endColorstr="#E6A5CC", GradientType=1);
    height: 95vh;
    width: 100%;
    text-align: center;
    padding-top: 10%;

}

.divPreguntas,.divRespuesta {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 80%;
    border-top: 7px #6d2baf solid;
    background-color: #298ea72b;
}

.respuesta{
    color: #fff !important;
    font-size: 14pt;
    text-decoration: none !important;
}
.lblPregunta
{
    font-size: 23pt;
    color: #fff;
}

.bienvenida{
    background-color: #6d2baf;
}

